<a href="https://colab.research.google.com/github/animeshjanai/python/blob/main/OOPs_concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Object Oriented Programming
#### Problem 1
- Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

In [ ]:
class line:

    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2

    def distance(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return ((x2-x1)**2 + (y2-y1)**2)**0.5

    def slope(self):
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        return (y2-y1)/(x2-x1)

In [ ]:
c1= (-2,-5)
c2=(8,10)

In [ ]:
myline = line(c1,c2)

In [ ]:
myline.distance()

18.027756377319946

In [ ]:
myline.slope()

1.5

### Problem 2
Fill in the class to return vloume and surface area of the cylinder

In [ ]:
class cylinder:

    def __init__(self,height=1,radius=1):
        self.height = height
        self.radius = radius

    def volume(self):
        return 3.14 * self.height * (self.radius)**2

    def surface_area(self):
        return (2*3.14*(self.radius)**2) + 2*3.14*self.radius*self.height

In [ ]:
mycyl = cylinder(2,3)

In [ ]:
mycyl.volume()

56.52

In [ ]:
mycyl.surface_area()

94.2

### Problem 3
For this challenge, create a bank account class that has two attributes:

- owner
- balance

and two methods:

- deposit
- withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [ ]:
class Account():
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self,dep_amt):
        self.balance = self.balance + dep_amt
        print(f"Added {dep_amt} to balance \ntotal balance :{self.balance}")

    def withdraw(self,wdr_amt):
        if self.balance >= wdr_amt:
            self.balance = self.balance = wdr_amt
            print("withdrawl accepted")
        else:
            print("sorry not enough balance!")

    def __str__(self):
        return f"owner : {self.owner} \nbalance: {self.balance}"

In [ ]:
# 1. Instantiate the class
acct1 = Account('Jose',100)

In [ ]:
# 2. Print the object
print(acct1)

owner : Jose
balance: 100

In [ ]:
# 3. Show the account owner attribute
acct1.owner

'Jose'

In [ ]:
# 4. Show the account balance attribute
acct1.balance

100

In [ ]:
# 5. deposit amount
acct1.deposit(50)

Added 50 to balance
total balance :150

In [ ]:
# 6. withdrawl less than total balance amount
acct1.withdraw(75)

withdrawl accepted

In [ ]:
# 7. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

sorry not enough balance!

In [ ]:
class MathUtils:

    @staticmethod
    def average(a, b):
        return (a + b) / 2

print(MathUtils.average(2, 1))

1.5

### classess and objects

In [ ]:
class Person:
    def set_details(self, name, age):
        self.name = name
        self.age = age
    def display(self):
        print('I am ', self.name)
    def greet(self):
        if self.age < 80:
            print('you are not a old person')
        else:
            print('you are a old person')

In [ ]:
p1 = Person()
p1.set_details("mack" , 31)
p1.display()
p1.greet()

I am  mack
you are not a old person

In [ ]:
p2 = Person()
p2.set_details("Rishi", 92)
p2.display()
p2.greet()

I am  Rishi
you are a old person

## Problem 4

 Make a class that represents a bank account. Create four methods named set_details, display, withdraw and deposit.

 In the set_details method, create two instance variables : name and balance. The default value for balance should be zero. In the display method, display the values of these two instance variables.

 Both the methods withdraw and deposit have amount as parameter. Inside withdraw, subtract the amount from balance and inside deposit, add the amount to the balance.

 Create two instances of this class and call the methods on those instances.

In [ ]:
class BankAccount:
    def set_details(self, name, balance = 0):
        self.name = name
        self.balance = balance
    def display(self):
        print(self.name , self.balance)
    def withdraw(self, amount):
        self.balance -= amount
    def deposit(self, amount):
        self.balance += amount

In [ ]:
a= BankAccount()
a.set_details("mack", 100)
b = BankAccount()
b.set_details("Ani" , 200)

In [ ]:
a.display()
b.display()

mack 100
Ani 200

In [ ]:
a.withdraw(50)
b.withdraw(75)
a.display()
b.display()

mack 50
Ani 125

In [ ]:
a.deposit(500)
b.deposit(290)
a.display()
b.display()

mack 550
Ani 415

In [ ]:
# __init__ method

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def display(self):
        print('I am ', self.name)
    def greet(self):
        if self.age < 80:
            print('you are not a old person')
        else:
            print('you are a old person')

In [ ]:
p1 = Person("Mack" , 31)
p1.display()
p1.greet()

I am  Mack
you are not a old person

In [ ]:
# Data hiding

In [ ]:
class Product:
    def __init__(self):
        self.data1 = 10
        self._data2 = 20
    def methodA(self):
        pass
    def _methodB(self):
        pass

In [ ]:
p = Product()
p.data1

10

In [ ]:
p.methodA

In [ ]:
#single underscore(_) means data should not be accessed by the user .it is a warning. but user can accessed it
p._data2

20

In [ ]:
p._methodB

In [ ]:
class Product:
    def __init__(self):
        self.data1 = 10
        self.__data2 = 20
    def methodA(self):
        pass
    def __methodB(self):
        pass

In [ ]:
p = Product()

In [ ]:
#you can not directly access attribute and method with double underscore(__)
p.__data2

AttributeError: 'Product' object has no attribute '__data2'

In [ ]:
p.__methodB

AttributeError: 'Product' object has no attribute '__methodB'

In [ ]:
# but you can indirectly access this
dir(p)

['_Product__data2',
 '_Product__methodB',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'data1',
 'methodA']

In [ ]:
p._Product__data2

20

In [ ]:
p._Product__methodB

### Property

In [ ]:
class Product:
    def __init__(self, x, y):
        self._x = x
        self._y = y
    def display(self):
        print(self._x , self._y)
    @property
    def value(self):
        return self._x
    @value.setter
    def value(self, val):
        self._x = val
    @property
    def y(self):
        return self._y
    @y.setter
    def y(self, val):
        self._y = val

In [ ]:
p= Product(10,12)

In [ ]:
#using @property you get the value
p.value

10

In [ ]:
#using @value.setter you can set or assign it to another value
p.value = 15

In [ ]:
p.value

15

In [ ]:
p.y

12

In [ ]:
p.y = 25
p.y

25

## Problem 5
In the BankAccount class that you had created in the problem 4 , delete the set_details() method and create an __init__ method.

In [ ]:
class BankAccount:
    def __init__(self, name, balance = 0):
        self.name = name
        self.balance = balance
    def display(self):
        print(self.name , self.balance)
    def withdraw(self, amount):
        self.balance -= amount
    def deposit(self, amount):
        self.balance += amount

In [ ]:
a= BankAccount("ram", 1000)
b= BankAccount("rohit" , 500)

In [ ]:
a.display()
b.display()

ram 1000
rohit 500

In [ ]:
a.withdraw(100)
b.withdraw(80)

In [ ]:
a.display()
b.display()

ram 900
rohit 420

In [ ]:
a.deposit(250)
b.deposit(100)
a.display()
b.display()

ram 1150
rohit 520

# Problem 6
Create a class named Book with an __init__ method. Inside the __init__ method, create the instance variables isbn, title, author, publisher, pages, price, copies.

Create these four instance objects from this class.

book1 = Book('957-4-36-547417-1', 'Learn Physics','Stephen', 'CBC', 350, 200,10)
book2 = Book('652-6-86-748413-3', 'Learn Chemistry','Jack', 'CBC', 400, 220,20)
book3 = Book('957-7-39-347216-2', 'Learn Maths','John', 'XYZ', 500, 300,5)
book4 = Book('957-7-39-347216-2', 'Learn Biology','Jack', 'XYZ', 400, 200,6)
Write a method display that prints the isbn, title, price and number of copies of the book.

In [ ]:
class Book:
    def __init__(self, isbn, title, author, publisher, pages, price, copies):
        self.isbn = isbn
        self.title = title
        self.author = author
        self.publisher = publisher
        self.pages = pages
        self.price = price
        self.copies = copies

    def display(self):
        print(self.title)
        print(f'ISBN: {self.isbn}')
        print(f'Price: {self.price}')
        print(f'Number of copies: {self.copies}')
        print('.' * 50)

book1 = Book('957-4-36-547417-1', 'Learn Physics','Stephen', 'CBC', 350, 200,10)
book2 = Book('652-6-86-748413-3', 'Learn Chemistry','Jack', 'CBC', 400, 220,20)
book3 = Book('957-7-39-347216-2', 'Learn Maths','John', 'XYZ', 500, 300,5)
book4 = Book('957-7-39-347216-2', 'Learn Biology','Jack', 'XYZ', 400, 200,6)

book1.display()
book2.display()
book3.display()
book4.display()

Learn Physics
ISBN: 957-4-36-547417-1
Price: 200
Number of copies: 10
..................................................
Learn Chemistry
ISBN: 652-6-86-748413-3
Price: 220
Number of copies: 20
..................................................
Learn Maths
ISBN: 957-7-39-347216-2
Price: 300
Number of copies: 5
..................................................
Learn Biology
ISBN: 957-7-39-347216-2
Price: 200
Number of copies: 6
..................................................

## Problem 7
For the Book class that you have created, write a method named in_stock that returns True if number of copies is more than zero, otherwise it returns False.

Create another method named sell that decreases the number of copies by 1 if the book is in stock, otherwise it prints the message that the book is out of stock.

In [ ]:
class Book:
    def __init__(self, isbn, title, author, publisher, pages, price, copies):
        self.isbn = isbn
        self.title = title
        self.author = author
        self.publisher = publisher
        self.pages = pages
        self.price = price
        self.copies = copies

    def display(self):
        print(self.title)
        print(f'ISBN: {self.isbn}')
        print(f'Price: {self.price}')
        print(f'Number of copies: {self.copies}')
        print('.' * 50)

    def in_stock(self):
        return True if self.copies>0 else False

    def sell(self):
        if self.in_stock():
            self.copies -= 1
        else:
            print("the book is out of stock")

In [ ]:
book1.in_stock()

AttributeError: 'Book' object has no attribute 'in_stock'

In [ ]:
dir(Book)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'display',
 'in_stock',
 'sell']

## Problem 8
Create a list named books that contains the 4 Book instance objects that you have created in question 2. Iterate over this list using a for loop and call display() for each object in the list.

Write a list comprehension to create another list that contains title of books written by Jack.