<a href="https://colab.research.google.com/github/animeshjanai/python/blob/main/Python_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
def multi_add(a,b):
  product = a*b
  if product < 1000:
    return product
  else:
    return a+b

In [ ]:
result = multi_add(20,30)
print(f"The result is: {result}")

The result is: 600

In [ ]:
result1 = multi_add(30,40)
print("The result is ", result1)

The result is  70

In [ ]:
# 2. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number

In [ ]:
previous_num = 0
for i in range(1,11):
  sum1 = previous_num + i
  print("current number: ", i , "Previous Number: ", previous_num, "Sum: ", sum1)
  previous_num = i

current number:  1 Previous Number:  0 Sum:  1
current number:  2 Previous Number:  1 Sum:  3
current number:  3 Previous Number:  2 Sum:  5
current number:  4 Previous Number:  3 Sum:  7
current number:  5 Previous Number:  4 Sum:  9
current number:  6 Previous Number:  5 Sum:  11
current number:  7 Previous Number:  6 Sum:  13
current number:  8 Previous Number:  7 Sum:  15
current number:  9 Previous Number:  8 Sum:  17
current number:  10 Previous Number:  9 Sum:  19

In [ ]:
# 3. Write a program to accept a string from the user and display characters that are present at an even index number.

In [ ]:
word = input("enter word: ")
print("our word is: ", word)
size = len(word)
for i in range(0, size-1, 2):
  print(word[i])

enter word: animeshdutta
our word is:  animeshdutta
a
i
e
h
u
t

In [ ]:
# using list slicing
word = input("enter word; ")
x = list(word)
for i in x[0::2]:
  print(i)

enter word; animeshdutta
a
i
e
h
u
t

In [ ]:
# 4. Write a program to remove characters from a string starting from zero up to n and return a new string.
def remove_char(word, n):
  print("Original string: ", word)
  x = word[n:]
  return x

In [ ]:
remove_char("abcdefghijkl", 5)

Original string:  abcdefghijkl

'fghijkl'

In [ ]:
# 5. Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.
def first_last_same(x):
  print("the actual list: ", x)
  first_num = x[0]
  last_num = x[-1]
  if first_num == last_num:
    return True
  else:
    return False

In [ ]:
list1 = [10,25,20,35,10]
first_last_same(list1)

the actual list:  [10, 25, 20, 35, 10]

True

In [ ]:
list2 = [1,2,3,4,5,6]
first_last_same(list2)

the actual list:  [1, 2, 3, 4, 5, 6]

False

In [ ]:
# 6. Iterate the given list of numbers and print only those numbers which are divisible by 5
def div_by_five(x):
  print("the actual list is: ", x)
  for i in x:
    if i%5 == 0:
      print(i)

In [ ]:
list1 = [4,5,9,10,12,15,25]
div_by_five(list1)

the actual list is:  [4, 5, 9, 10, 12, 15, 25]
5
10
15
25

In [ ]:
# 7. Return the count of a given substring from a string
#    Write a program to find how many times substring “Emma” appears in the given string.
# using string method

str1 = "Emma is good developer. Emma is a writer"

print(str1.count("Emma"))

2

In [ ]:
# without string method
def count_emma(statement):
  count = 0
  for i in range(len(statement)-1):
    count += statement[i:i+4] == "Emma"
  return count

In [ ]:
str1 = "Emma is good developer. Emma is a writer"
count_emma(str1)

2

In [ ]:
# 8. Write a program to check if the given number is a palindrome number.
# note: A palindrome number is a number that is same after reverse. For example 545, is the palindrome numbers

def palindrome(number):
  print("original number: ", number)
  original_number = number
  reverse_num = 0
  while number>0:
    remainder = number%10
    reverse_num = reverse_num*10 + remainder
    number = number//10
  if original_number == reverse_num:
    print("given number is palindrome")
  else:
    print("not palindrome")

In [ ]:
palindrome(800)

original number:  800
not palindrome

In [1]:
# 9. Check how many times a given number can be divided by 3 before it is less than or equal to 10.

count = 0
number = int(input("enter the number: "))
while number > 10:
  number = number/3
  count = count + 1
print("no of count: ", count)

enter the number: 273
no of count:  4

In [2]:
# 10. we want a user to enter any number between 100 and 500. We will keep asking the user to enter a correct input until he/she enters the number within a given range.

num = int(input("enter any number between 100 and 500: "))
while num < 100 or num > 500:
  print("please enter the correct number")
  num = int(input("enter any number between 100 and 500: "))
else:
  print("the number is correct")

enter any number between 100 and 500: 5
please enter the correct number
enter any number between 100 and 500: 1000
please enter the correct number
enter any number between 100 and 500: 501
please enter the correct number
enter any number between 100 and 500: 99
please enter the correct number
enter any number between 100 and 500: 100
the number is correct

In [4]:
# 11. Print even and odd numbers between 1 to the entered number

a = int(input("please enter the number"))
while a>0:
  if a%2 == 0:
    print(a, " is even")
  else:
    print(a, " is odd")
  a=a-1

please enter the number10
10  is even
9  is odd
8  is even
7  is odd
6  is even
5  is odd
4  is even
3  is odd
2  is even
1  is odd

In [11]:
# 12. Print even and odd numbers between 1 to the entered number.

name = input("enter the name: ")
size = len(name)
i = 0
while i < size:
  if name[i].isdecimal():
    break
  print(name[i], end = '')
  i = i + 1

enter the name: animesh91 kjhjhfh
animesh

In [14]:
# 13. Write a while loop to display only alphabets from a string.

name = input()
size = len(name)
i = -1
while i < size-1:
  i = i+1
  if name[i].isdecimal():
    continue
  print(name[i], end='')

animesh91dutta
animeshdutta

str