<a href="https://colab.research.google.com/github/animeshjanai/python/blob/main/Python_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
def multi_add(a,b):
  product = a*b
  if product < 1000:
    return product
  else:
    return a+b

In [ ]:
result = multi_add(20,30)
print(f"The result is: {result}")

The result is: 600

In [ ]:
result1 = multi_add(30,40)
print("The result is ", result1)

The result is  70

In [ ]:
# 2. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number

In [ ]:
previous_num = 0
for i in range(1,11):
  sum1 = previous_num + i
  print("current number: ", i , "Previous Number: ", previous_num, "Sum: ", sum1)
  previous_num = i

current number:  1 Previous Number:  0 Sum:  1
current number:  2 Previous Number:  1 Sum:  3
current number:  3 Previous Number:  2 Sum:  5
current number:  4 Previous Number:  3 Sum:  7
current number:  5 Previous Number:  4 Sum:  9
current number:  6 Previous Number:  5 Sum:  11
current number:  7 Previous Number:  6 Sum:  13
current number:  8 Previous Number:  7 Sum:  15
current number:  9 Previous Number:  8 Sum:  17
current number:  10 Previous Number:  9 Sum:  19

In [ ]:
# 3. Write a program to accept a string from the user and display characters that are present at an even index number.

In [ ]:
word = input("enter word: ")
print("our word is: ", word)
size = len(word)
for i in range(0, size-1, 2):
  print(word[i])

enter word: animeshdutta
our word is:  animeshdutta
a
i
e
h
u
t

In [ ]:
# using list slicing
word = input("enter word; ")
x = list(word)
for i in x[0::2]:
  print(i)

enter word; animeshdutta
a
i
e
h
u
t

In [ ]:
# 4. Write a program to remove characters from a string starting from zero up to n and return a new string.
def remove_char(word, n):
  print("Original string: ", word)
  x = word[n:]
  return x

In [ ]:
remove_char("abcdefghijkl", 5)

Original string:  abcdefghijkl

'fghijkl'

In [ ]:
# 5. Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.
def first_last_same(x):
  print("the actual list: ", x)
  first_num = x[0]
  last_num = x[-1]
  if first_num == last_num:
    return True
  else:
    return False

In [ ]:
list1 = [10,25,20,35,10]
first_last_same(list1)

the actual list:  [10, 25, 20, 35, 10]

True

In [ ]:
list2 = [1,2,3,4,5,6]
first_last_same(list2)

the actual list:  [1, 2, 3, 4, 5, 6]

False